/* .nav {
    width: 100%;
    text-align: center;
} */


/* .nav input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
} */

li {
    display: inline-block;
    padding-right: 70px;
    margin: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
}

.displayImg {
   align-content: center;
}

/* .container input:hover{
    background-color: tomato;
    color: white;
}

body {
    background-image: url(./);
    background-repeat: no-repeat;
    background-size: cover ;
} */

.nav {
  background-color: pink;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: rgb(80, 42, 141);
  color: white;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #4CAF50;
  color: rgb(214, 18, 18);
}